In [2]:
from datetime import date
import pandas as pd
import yfinance as yf
from statsmodels.tsa.arima.model import ARIMA
import plotly.express as px
import plotly.graph_objs as go
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [3]:
START = "2010-01-01"
TODAY = "2019-12-31"
stocks = 'TSLA'

In [4]:
def load_data(ticker):
    data = yf.download(ticker, START, TODAY)
    data.reset_index(inplace=True)
    return data

In [5]:
data =load_data(stocks)

[*********************100%***********************]  1 of 1 completed

In [6]:
df = pd.DataFrame(data)

In [7]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,1.074000,103003500

In [10]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

# Split the data into training and testing sets
train = df[:-365]
test = df[-365:]

AttributeError: 'DataFrame' object has no attribute 'Date'